html, body {
  margin: 0;
}

body {
  background-image: url("https://www.teahub.io/photos/full/10-100334_wallpaper-abstract-black-blue-smoke-src-new-blue.jpg");
  padding: 0;
  padding-bottom: 5vh;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: right;
  background: rgba(255, 255, 255, 0.356);
}

hr {
  border: none;
  border-top: 1px solid rgb(65, 65, 65);
  width: 90%;
}

.button-segment {
  width: 45rem;
  text-align: center;
  margin: auto;
  margin-top: 10vh;
}

.modals-container {
  border: 1px red solid;
  width: 95%;
  height: fit-content;
  margin: auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
  overflow: auto;
}

.form-container {
  width: fit-content;
  border-radius: 5px;
  margin: auto;
  margin-top: 10vh;
  padding: 2%;
}

.light-shadow {
  box-shadow: 5px 5px 15px;
}

.med-shadow {
  box-shadow: 5px 5px 5px;
}

.heavy-shadow {
  box-shadow: 5px 5px 0px;
}

.light-font {
  color: white;
}

.code-modal {
    position: relative;
    max-width: 90%;
    max-height: 70%;
    background: white;
    color: rgb(0, 0, 0);
    padding: 2%;
    top: 5%;
    margin: auto;
    word-wrap: break-word;
    text-align: left;
    overflow: auto;
}

.each-block {
  padding: 1%;
}

.each-block > h1 {
  padding: 0;
  margin: 0;
}

.each-block-button {
  float: right;
  filter: invert(100%);
}

.each-block:nth-child(odd) {
  background-color: rgb(235, 235, 235);
}
.each-block:nth-child(even) {
  background-color: rgb(255, 255, 255);
}