html {
  min-height: 100%;
  position: relative;
}

body {
  background: rgb(243, 243, 243);
}

hr {
  border: none;
  border-top: 1px solid rgb(65, 65, 65);
  width: 90%;
}

.light-shadow {
  box-shadow: 5px 5px 15px;
}

.med-shadow {
  box-shadow: 5px 5px 5px;
}

.heavy-shadow {
  box-shadow: 5px 5px 0px;
}

.light-font {
  color: white;
}

.tmb-segment {
  width: 80%;
  margin: auto;
}