html, body {
  margin: 0
}

body {
  background: rgb(208, 238, 227);
  padding: 0;
  padding-bottom: 5vh;
  
}

hr {
  border: none;
  border-top: 1px solid rgb(65, 65, 65);
  width: 90%;
}

.light-shadow {
  box-shadow: 5px 5px 15px;
}

.med-shadow {
  box-shadow: 5px 5px 5px;
}

.heavy-shadow {
  box-shadow: 5px 5px 0px;
}

.light-font {
  color: white;
}

.tmb-segment {
  width: 45rem;
  margin: auto;
}

.button-segment {
  width: 45rem;
  text-align: center;
  margin: auto;
}

