html, body {
  margin: 0;
}

body {
  background-image: url("https://www.teahub.io/photos/full/10-100334_wallpaper-abstract-black-blue-smoke-src-new-blue.jpg");
  background-attachment: fixed;
  padding: 0;
  padding-bottom: 5vh;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: right;
  background: rgba(255, 255, 255, 0.356);
}

footer .f1 {
float: left;
}

hr {
  border: none;
  border-top: 1px solid rgb(65, 65, 65);
  width: 90%;
}

.button-segment {
  width: 80%;
  border-radius: 5px;
  margin: auto;
  margin-top: 10vh;
  padding: 2%;
  text-align: center;
}

.modals-container {
  width: fit-content;
  border-radius: 5px;
  margin: auto;
  margin-top: 10vh;
  padding: 2%;
  text-align: center;
}

.modal-btn-container {
  width: 70vw;
  padding: 1%;
  border-radius: 5px;
  height: fit-content;
  margin: 1% auto 1% auto;
}

.segments-container {
  width: fit-content;
  border-radius: 5px;
  margin: auto;
  margin-top: 10vh;
  padding: 2%;
  text-align: center;
}

.forms-container {
  width: fit-content;
  border-radius: 5px;
  margin: auto;
  margin-top: 10vh;
  padding: 2%;
  text-align: center;
}

.forms-container > h3 {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  padding: 1rem;
}

.forms-container > hr {
  border: none;
  border-top: 1px solid rgb(65, 65, 65);
  width: 90%;
  margin: 2rem;
}

.navs-container {
  width: fit-content;
  border-radius: 5px;
  margin: auto;
  margin-top: 10vh;
  padding: 2%;
  text-align: center;
}

.light-shadow {
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.377);
}

.med-shadow {
  box-shadow: 5px 5px 5px;
}

.heavy-shadow {
  box-shadow: 5px 5px 0px;
}

.light-font {
  color: white;
}

.small-margin {
  margin: .8%;
}

.code-modal {
    position: relative;
    max-width: 90%;
    max-height: 70%;
    background: white;
    color: rgb(0, 0, 0);
    padding: 2%;
    top: 5%;
    margin: auto;
    word-wrap: break-word;
    text-align: left;
    overflow: auto;
}

.code-button {
  margin: auto;
  margin-bottom: 2%;
}

.each-block {
  padding: 1%;
}

.each-block > h1 {
  padding: 0;
  margin: 0;
}

.each-block-button {
  float: right;
  filter: invert(100%);
}

.each-block:nth-child(odd) {
  background-color: rgb(235, 235, 235);
}
.each-block:nth-child(even) {
  background-color: rgb(255, 255, 255);
}

