.overlay {
  position: absolute;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 1;
  background: rgba(0, 0, 0, 0.356);
}

.modal-form-login1 {
  background-image: url("https://i.ibb.co/4NCGyzZ/loginform.png");
  background-position: right bottom;
  background-size: cover;
  border-radius: 8px;
  position: relative;
  height: 22rem;
  width: fit-content;
  color: rgb(0, 0, 0);
  padding: 0 0 1.1% 0;
  top: 5%;
  margin: 0 auto 0 auto;
}

.modal-form-login1 > form {
  background: rgba(255, 255, 255, 0.603);
  border-radius: 3px;
  margin: 5% 2% 10% 2%;
  padding: 5%;
}

.modal-form-login1 > h2 {
  padding: 1%;
  text-align: left;
  background: rgba(0, 195, 255, 0.301);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-form-login1 > h2 > .close-button {
  float: right;
}