.login-button {
  margin: 0;
  height: 22px;
  color: white;
  background: black;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

.login-button:hover {
  background: grey;
}

.login-button:active {
    background: rgb(80, 80, 80);
}

.login-button-text {
  font-weight: bold;
  background: none;
  text-decoration: none;
}

.login-submit {
  float: right;
}

form > input {
  margin: 1%;
  width: 92%;
}

.welcome-container {
  background: linear-gradient(#ffffff, #ffffff00);
  padding: 5%;
}

.welcome-message {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  color: white;
}