@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&family=Press+Start+2P&family=Roboto+Condensed:wght@300&display=swap");

.simple-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 5.5%;
  margin: 0;
  color: white;
}

.logo {
  display: flex;
  float: left;
  margin-left: 4rem;
  align-items: stretch;
}

.logo-text {
  user-select: pointer;
  color: white;
  text-decoration: none;
  margin-top: 3%;
  height: 100%;
  font-family: Copperplate, Copperplate Gothic Light, fantasy;
  font-size: 3vh;
}

@media only screen and (max-height: 400px) {
  .logo-text {
    display: none;
  }
}

.side-menu-icon {
  display: flex;
  position: absolute;
  margin-left: 0.5rem;
  height: 10vh;
  width: 3rem;
  z-index: 10;
  font-size: 5vh;
  cursor: pointer;
}

.pop-out-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 5.5%;
  width: 12rem;
  height: 94.5%;
  z-index: 1000;
  font-family: "Roboto Condensed", sans-serif;
  overflow-y: scroll;
  text-align: left;
}

.pop-out-button {
  border: none;
  color: rgb(153, 153, 153);
  text-decoration: none;
  text-align: left;
  padding-left: 10%;
}

.pop-out-button:hover {
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ul-title {
  padding-left: 3%;
  color: white;
}

::-webkit-scrollbar {
  width: 15px;
  height: 30px;
}

::-webkit-scrollbar-track-piece {
  background-color: rgb(77, 77, 77);
}

::-webkit-scrollbar-thumb:vertical {
  height: 45px;
  background-color: rgb(48, 48, 48);
}
