.contrib-input {
    width: 30vw;
}

.contrib-textarea {
    width: 30vw;
    resize: vertical;
    margin-left: 1%;
}

.contribute-container {
    
        margin-top: 15vh;
        box-sizing: border-box;
        width: fit-content;
        padding: 3%;
        text-align: center;
    
}