.charcoal {
  background: rgb(32, 32, 32);
}

.off-white {
  background: rgb(243, 241, 241);
}

.light-grey {
  background: rgb(155, 155, 155);
}

.segment {
  padding: 1%;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
  margin: 1% auto 1% auto;
}
